* {
  background-color: #d0c3ee;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  background-color: lightpink;
  padding: 10px;
}

footer {
  margin-top: 200px;
  height: 200px;
}
