<div class="container">
  <div class="circle">
    <img
      class="circle-img"
      src="../../../assets/images/selfie.jpg"
      alt="profile pic"
    />
  </div>
  <p>Rosanna Dayson Venditto</p>
  <div class="profile-information">
    <div class="location">○ Montreal, Canada</div>
    <div style="margin-top: 12px; font-weight: bold">Biography</div>
    <textarea maxlength="93" placeholder="Write a bio..."></textarea>
    <div class="detailed-info">
      <label>Email</label>
      <div class="info-box">rosannamassivepp@gmail.com</div>
      <label>Phone Number</label>
      <div class="info-box">438-502-4124</div>
      <label>Address</label>
      <div class="info-box">4538 rue Pp</div>
    </div>
  </div>
</div>
