<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  />

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class=".container-xl" id="main">
    <div class="container-xl" id="container-left">
      <app-general-profile></app-general-profile>
    </div>
    <div class="container" id="container-right">
      <div class="tabs-groups">
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Account Information"
            ><app-account-info-tab></app-account-info-tab
          ></mat-tab>
          <mat-tab label="Password"
            ><app-password-tab></app-password-tab
          ></mat-tab>
          <mat-tab label="Personal Information"
            ><app-personal-tab></app-personal-tab
          ></mat-tab>
          <mat-tab label="Privacy"><app-privacy-tab></app-privacy-tab></mat-tab>
          <mat-tab label="Customization"
            ><app-custom-tab></app-custom-tab
          ></mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</body>
